.race-road {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  &__btns {
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    color: #fff;
    &_start {
      border: 2px solid #039b2f;
      color: #039b2f;
    }
    &_finish {
      border: 2px solid #b94141;
      color: #b94141;
    }
    &:disabled {
      border: 2px solid #999999;
      background-color: #cccccc;
      color: #666666;
      opacity: 0.7;
    }
  }
  &__body {
    border-bottom: 2px dashed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    > svg {
      height: 30px;
      &:first-of-type {
        width: 80px;
        height: 30px;
      }
      &:last-of-type {
        position: absolute;
        right: 100px;
      }
      &.drive {
        // animation: 9999s linear driveAnimtaion forwards;
        animation-name: driveAnimation;
        // animation-timing-function: linear;
        animation-fill-mode: forwards;
        // animation-duration: 0.5s;
      }
      &.crash {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes driveAnimation {
  from {
    margin-left: 0;
  }
  to {
    margin-left: calc(100% - 80px);
  }
}
